@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  line-height: 1.5em;
}

a {
  color: #66cc99;
  text-decoration: none;
}

a:hover {
  color: #4a4e51;
}

.clearfix::after,
.clearfix::before {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.bold {
  color: #4a4e51;
  font-weight: 400;
}

.resume-wrapper {
  position: relative;
  text-align: center;
  height: 100%;
}

.container {
  min-height: 600px;
}

.profile {
  background: #fff;
  width: 40%;
  float: left;
  color: #9099a0;
}
@media (max-width: 850px) {
  .profile {
    width: 100%;
  }
}
.profile .name-wrapper {
  float: left;
  width: 60%;
}
.profile h1 {
  font-size: 2.5em;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  color: #4a4e51;
  text-transform: uppercase;
  line-height: 1em;
  padding-top: 40px;
}
@media (max-width: 1200px) {
  .profile h1 {
    padding-top: 20px;
  }
}
@media (max-width: 450px) {
  .profile h1 {
    font-size: 1.8em;
    padding-top: 20px;
  }
}
.profile h2 {
  padding-top: 18px;
}
.profile li {
  margin-bottom: 10px;
}
.profile .picture-resume-wrapper {
  width: 40%;
  display: block;
  float: left;
}
@media (max-width: 1200px) {
  .profile .picture-resume-wrapper {
    width: 100%;
  }
}
.profile .picture-resume {
  width: 220px;
  height: 220px;
  background-size: cover;
  border-radius: 50%;
  margin-right: 0px;
  display: table;
  position: relative;
  vertical-align: middle;
}
.profile .picture-resume span {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  margin: 0 auto;
  z-index: 10;
  text-align: center;
}
.profile .picture-resume img {
  border-radius: 50%;
  width: 130px;
}
@media (max-width: 1500px) {
  .profile .picture-resume img {
    width: 80px;
  }
}
@media (max-width: 1200px) {
  .profile .picture-resume img {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 1500px) {
  .profile .picture-resume {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 1200px) {
  .profile .picture-resume {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 450px) {
  .profile .picture-resume {
    width: 180px;
    height: 180px;
  }
}
.profile i {
  font-size: 1.8em;
}
.profile .contact-info {
  margin-top: 100px;
  font-weight: 300;
}
@media (max-width: 1200px) {
  .profile .contact-info {
    margin-top: 70px;
  }
}
@media (max-width: 450px) {
  .profile .contact-info {
    margin-top: 50px;
  }
}
.profile .list-titles {
  float: left;
  text-align: left;
  font-weight: 600;
  width: 40%;
  color: #4a4e51;
}
.profile .list-content {
  float: left;
  width: 60%;
  text-align: left;
  font-weight: 300;
}
.profile .contact-social {
  width: 100%;
  align-items: center;
  padding: 6px;
}
.profile .list-icons {
  float: left;
  width: 100%;
  font-weight: 300;
  list-style: none;
  align-items: center;
  padding-top: 18px;
}
.profile .list-icons li {
  display: inline-block;
  padding-left: 6px;
}
.profile .contact-presentation {
  text-align: left;
  font-weight: 300;
  margin-top: 100px;
  margin-bottom: 100px;
}
@media (max-width: 1200px) {
  .profile .contact-presentation {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}
@media (max-width: 850px) {
  .profile .contact-presentation {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.profile .contact-qr {
  width: 100%;
  align-items: center;
  padding-top: 8%;
}
.profile .contact-qr #qr {
  width: 390px;
}
@media (max-width: 1500px) {
  .profile .contact-qr #qr {
    width: 240px;
  }
}
@media (max-width: 1200px) {
  .profile .contact-qr #qr {
    width: 320px;
    height: 320px;
  }
}
.profile .st0,
.profile .st1 {
  fill: #66cc99;
}

.experience {
  background: #3d3e42;
  width: 60%;
  float: left;
  position: relative;
  color: #9099a0;
  font-weight: 300;
  min-height: 100%;
  min-height: 100vh;
}
@media (max-width: 850px) {
  .experience {
    width: 100%;
  }
}
.experience h3.experience-title {
  color: #66cc99;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 400;
}
.experience .company-wrapper {
  width: 30%;
  float: left;
  text-align: left;
  padding-right: 5%;
  margin-bottom: 60px;
}
@media (max-width: 450px) {
  .experience .company-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
}
.experience .job-wrapper {
  width: 70%;
  float: left;
  text-align: left;
  padding-right: 5%;
  margin-bottom: 60px;
}
@media (max-width: 450px) {
  .experience .job-wrapper {
    width: 100%;
    margin-bottom: 40px;
  }
}
.experience .experience-title {
  color: white;
  margin-bottom: 15px;
}
.experience .boldi {
  padding-top: 4px;
  font-weight: 400;
}

.section-padding {
  padding: 60px 60px 40px 40px;
}
@media (max-width: 850px) {
  .section-padding {
    padding: 80px 15% 40px 10%;
  }
}
@media (max-width: 450px) {
  .section-padding {
    padding: 40px 10% 20px 5%;
  }
}

.science-wrapper {
  width: 100%;
  float: left;
  text-align: left;
  color: #9099a0;
  font-weight: 300;
  margin-bottom: 20px;
}
@media (max-width: 450px) {
  .science-wrapper {
    width: 100%;
  }
}
.science-wrapper:nth-child(3) {
  padding-right: 8%;
}
.science-wrapper h3.section-title {
  color: #66cc99;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 400;
}
.science-wrapper .sciarea ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 18px;
  float: left;
}
.science-wrapper .sciarea ul li {
  align-items: center;
  position: relative;
}
.science-wrapper .sciarea ul li svg {
  width: 95%;
  fill: transparent;
  font-weight: 0;
}
.science-wrapper .sciarea ul li svg circle {
  stroke-width: 3px;
  stroke: #66cc99;
  stroke-linecap: round;
  animation: e_circ 3.6s ease;
  -webkit-animation: e_circ 3.6s ease;
}
.science-wrapper .sciarea ul li svg text {
  fill: #9099a0;
  font-size: 0.6em;
  font-weight: 0;
}
@keyframes e_circ {
  from {
    stroke-width: 0px;
  }
  to {
    stroke-width: 2px;
  }
}
.science-wrapper .sciarea ul li:hover svg {
  width: 95%;
  fill: transparent;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  dominant-baseline: middle;
  text-anchor: middle;
}
.science-wrapper .sciarea ul li:hover svg text {
  fill: #9099a0;
  font-size: 0.6em;
  font-weight: 600;
}
.science-wrapper .sciarea ul li:hover svg circle {
  stroke: #66cc99;
  stroke-width: 4px;
}

.software ul {
  width: 50%;
  padding-left: 30px;
  float: left;
  list-style: circle;
}
.software ul li::marker {
  color: #66cc99;
}

.programming-wrapper {
  width: 100%;
  float: left;
  text-align: left;
  color: #9099a0;
  font-weight: 300;
  margin-bottom: 20px;
}
@media (max-width: 450px) {
  .programming-wrapper {
    width: 100%;
  }
}
.programming-wrapper:nth-child(3) {
  padding-right: 8%;
}
.programming-wrapper h3.section-title {
  color: #66cc99;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 400;
}
.programming-wrapper ul {
  padding-top: 18px;
  padding: 6px;
  width: 50%;
  float: left;
}
.programming-wrapper .skill-percentage {
  margin-bottom: 10px;
  position: relative;
}
.programming-wrapper .skill-percentage::after {
  content: "";
  width: 100%;
  height: 6px;
  background: #4a4e51;
  display: block;
  margin-top: 3px;
}
.programming-wrapper .skill-percentage::before {
  content: "";
  height: 6px;
  background: #66cc99;
  position: absolute;
  margin-top: 3px;
  bottom: 0;
}
.programming-wrapper .skill-percentage:nth-child(1)::before {
  width: 100%;
  animation: skill_1 3.6s ease;
  -webkit-animation: skill_1 3.6s ease;
}
.programming-wrapper .skill-percentage:nth-child(2)::before {
  width: 25%;
  animation: skill_2 3.6s ease;
  -webkit-animation: skill_2 3.6s ease;
}
.programming-wrapper .skill-percentage:nth-child(3)::before {
  width: 20%;
  animation: skill_3 3.6s ease;
  -webkit-animation: skill_3 3.6s ease;
}
.programming-wrapper .skill-percentage:nth-child(4)::before {
  width: 85%;
  animation: skill_4 3.6s ease;
  -webkit-animation: skill_4 3.6s ease;
}
.programming-wrapper .skill-percentage2 {
  margin-bottom: 10px;
  position: relative;
}
.programming-wrapper .skill-percentage2::after {
  content: "";
  width: 90%;
  height: 6px;
  background: #4a4e51;
  display: block;
  margin-top: 3px;
}
.programming-wrapper .skill-percentage2::before {
  content: "";
  height: 6px;
  background: #66cc99;
  position: absolute;
  margin-top: 3px;
  bottom: 0;
}
.programming-wrapper .skill-percentage2:nth-child(1)::before {
  width: 75%;
  animation: skill_5 3.6s ease;
  -webkit-animation: skill_5 3.6s ease;
}
.programming-wrapper .skill-percentage2:nth-child(2)::before {
  width: 70%;
  animation: skill_6 3.6s ease;
  -webkit-animation: skill_6 3.6s ease;
}
.programming-wrapper .skill-percentage2:nth-child(3)::before {
  width: 60%;
  animation: skill_7 3.6s ease;
  -webkit-animation: skill_7 3.6s ease;
}
.programming-wrapper .skill-percentage2:nth-child(4)::before {
  width: 45%;
  animation: skill_8 3.6s ease;
  -webkit-animation: skill_8 3.6s ease;
}
.programming-wrapper .skill-percentage2:nth-child(5)::before {
  width: 20%;
  animation: skill_9 3.6s ease;
  -webkit-animation: skill_9 3.6s ease;
}

@keyframes skill_1 {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}
@keyframes skill_2 {
  from {
    width: 0%;
  }
  to {
    width: 25%;
  }
}
@keyframes skill_3 {
  from {
    width: 0%;
  }
  to {
    width: 20%;
  }
}
@keyframes skill_4 {
  from {
    width: 0%;
  }
  to {
    width: 85%;
  }
}
@keyframes skill_5 {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}
@keyframes skill_6 {
  from {
    width: 0%;
  }
  to {
    width: 70%;
  }
}
@keyframes skill_7 {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}
@keyframes skill_8 {
  from {
    width: 0%;
  }
  to {
    width: 45%;
  }
}
@keyframes skill_9 {
  from {
    width: 0%;
  }
  to {
    width: 20%;
  }
}
.hobby-wrapper {
  width: 50%;
  float: left;
  text-align: left;
  color: #9099a0;
  font-weight: 300;
  margin-bottom: 20px;
}
@media (max-width: 450px) {
  .hobby-wrapper {
    width: 100%;
  }
}
.hobby-wrapper:nth-child(3) {
  padding-right: 8%;
}
.hobby-wrapper h3.section-title {
  color: #66cc99;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
